.app-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  /* height: 6vh; */
}

.bodypart {
  margin-top: 6vh;
}

.navbar-search-input {
  background-color: #353a40;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: none;
  border-radius: 0;
}

.navbar-search-input:focus {
  border-bottom: 3px solid white;
  border-radius: 0;
  color: white;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.nav-link {
  text-align: right;
  margin-right: 1rem;
}

.dropdown-menu {
  background-color: black;
  color: white;
  padding: 0.3rem;
  min-width: 20rem;
}

.dropdown-menu > button {
  color: white;
  margin: 0.5rem 0;
  background: transparent;
  padding: 0.3rem;
}

ngb-highlight {
  margin-left: 1rem;
}

@media (max-width: 768px) {

  .form-control {
    width: 70%;
  }
}
