<nav class="navbar navbar-expand-md navbar-dark bg-dark app-navbar">
  <a class="navbar-brand" href="/">USC Films</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="homepage ? 'active' : ''">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="mylist ? 'active' : ''">
        <a class="nav-link" href="/mylist">My List</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ng-template #rt let-r="result" let-t="term">
        <div (click)="openPage(r.media_type, r.id)">
          <img [src]="'https://image.tmdb.org/t/p/w500' + r['backdrop_path']" class="mr-1"
            style="height: 2.8rem; width: 4rem" />
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </div>

      </ng-template>
      <input name="search" id="typeahead-basic" type="text" class="form-control navbar-search-input search-autocomplete"
        [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt"
        [inputFormatter]="format" />
      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
    </form>
  </div>
</nav>
<div class="bodypart">
  <router-outlet></router-outlet>
</div>