<div class="detail-component">
    <div class="detail-component-banner">
        <div class="detail-video-box">
            <youtube-player [videoId]="tv_video" width="100%">
            </youtube-player>
        </div>

        <div class="detail-info-box">
            <div class="detail-info-title">
                {{tv_detail.title}}
            </div>
            <div class="detail-info-desc">
                {{tv_detail.tagline}}
            </div>
            <div class="detail-info-basic">
                {{tv_detail.release_date}} | <fa-icon [icon]="faStar"></fa-icon> {{tv_detail.vote_average}} |
                {{tv_detail.runtime}}
            </div>
            <div class="detail-info-genre">
                <span style="color: white">Genres:</span> {{tv_detail.genres}}
            </div>
            <div class="detail-info-lang">
                <span style="color: white">Language:</span> {{tv_detail.spoken_languages}}
            </div>
            <button *ngIf="localIncluded" class="detail-info-button" (click)="removeLocalItem()">Remove from
                Watchlist</button>
            <button *ngIf="!localIncluded" class="detail-info-button" (click)="addLocalItem()">Add to Watchlist</button>
            <div class="detail-info-added" *ngIf="showTag&&showAdded">
                <span>Added to watchlist.</span>
                <span>
                    <fa-icon [icon]="faTimes" (click)="closeTab()"></fa-icon>
                </span>
            </div>
            <div class="detail-info-added detail-info-removed" *ngIf="showTag&&!showAdded" (click)="closeTab()">
                <span>Removed from watchlist.</span>
                <span>
                    <fa-icon [icon]="faTimes"></fa-icon>
                </span>
            </div>

        </div>
    </div>
    <div class="detail-desc">
        <div class="detail-desc-title">
            Description
        </div>
        <div class="detail-desc-content">
            {{tv_detail.overview}}
        </div>
    </div>

    <div class="detail-desc">
        <div class="detail-desc-title">
            Share
        </div>
        <div class="detail-desc-content share-content">
            <fa-icon [icon]="faTwitter"></fa-icon>
            <fa-icon [icon]="faFacebook"></fa-icon>
        </div>
    </div>

    <div class="detail-cast">
        <div class="cast-title">
            Full Cast and Crew
        </div>
        <div class="cast-cards">
            <div class="cast-card" *ngFor="let cast of tv_cast">
                <div class="cast-card-up">
                    <img [src]="cast.profile_path" alt="" (click)="open(content, cast.id)" />
                    <ng-template #content let-modal>
                        <div class="modal-header ">
                            <h4 class="modal-title" id="modal-basic-title">{{cast.name}}</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body modal-content">
                            <div class="modal-content-left">
                                <img [src]="cast.profile_path" alt="cast.character" />
                            </div>
                            <div class="modal-content-right">
                                <p *ngIf="cast.birthday">Birth: {{cast_info.birthday}}</p>
                                <p>Birth Place: {{cast_info.place_of_birth}}</p>
                                <p>Gender: {{cast_info.gender}}</p>
                                <p>Known for: {{cast_info.known}}</p>
                                <p>Also Known as: {{cast_info.also_known_as}}</p>
                                <p style="font-size: 2.5rem;">
                                    <span *ngIf="cast_links.imdb_id">
                                        <a [href]="'https://imdb.com/name/'+cast_links['imdb_id']" target="_blank">
                                            <fa-icon [icon]="faImdb" style="color: rgb(228, 175, 1)"></fa-icon>
                                        </a><span style="display: inline-block; width: 0.5rem;"></span>
                                    </span>
                                    <span *ngIf="cast_links.instagram_id">
                                        <a [href]="'https://instagram.com/'+cast_links['instagram_id']" target="_blank">
                                            <fa-icon [icon]="faInstagram" style="color: rgb(211, 165, 214)"></fa-icon>
                                        </a><span style="display: inline-block; width: 0.5rem;"></span>
                                    </span>
                                    <span *ngIf="cast_links.facebook_id">
                                        <a [href]="'https://facebook.com/'+cast_links['facebook_id']" target="_blank">
                                            <fa-icon [icon]="faFacebook" style="color: #0026ff"></fa-icon>
                                        </a><span style="display: inline-block; width: 0.5rem;"></span>
                                    </span>
                                    <span *ngIf="cast_links.twitter_id">
                                        <a [href]="'https://twitter.com/'+cast_links['twitter.com']" target="_blank">
                                            <fa-icon [icon]="faTwitter" style="color: #318fff"></fa-icon>
                                        </a>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="modal-biography" *ngIf="cast_info.biography">
                            <h4>Biography</h4>
                            {{cast_info.biography}}
                        </div>
                    </ng-template>
                </div>
                <div class="cast-card-bottom">
                    {{cast.name}} <br />AS <br /> <span style="font-weight: normal;">{{cast.character}}</span>
                </div>
            </div>
        </div>
    </div>
    <app-carousel-component title="Recommended TV Shows" [imgs]="recommend_tv" [isSmallScreen]="isSmallScreen"
        media_type="tv">
    </app-carousel-component>
    <app-carousel-component title="Similar TV Shows" [imgs]="similar_tv" [isSmallScreen]="isSmallScreen"
        media_type="tv">
    </app-carousel-component>

    <div class="detail-desc">
        <div class="detail-desc-title">
            Reviews <span style="color: rgb(107, 117, 125);">{{reviewNum}}</span>
        </div>
        <div class="review-list">
            <div class="review-card" *ngFor="let review of tv_reviews">
                <div class="review-avatar">
                    <img class="avatar-img" [src]="review.avatar_path" />
                </div>

                <div class="review-content">
                    <div class="review-content-title">
                        <span class="review-author">A review created by {{review.author}}.</span>
                        <span class="review-rate-badge">
                            <fa-icon [icon]="faStar"></fa-icon> &nbsp;{{review.rating}}
                        </span>
                    </div>
                    <div class="review-content-desc">
                        Written by {{review.author}} on {{review.created_at}}
                    </div>
                    <div class="review-content-text">
                        {{review.content}}
                    </div>
                    <div class="review-read-rest">
                        <a [href]="review.url" target="_blank">Read the rest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-footer">
        <p class="footer-text">
            Powered by TMDB. Developed by Shuai Ma!
        </p>
        <div class="footer-cover"></div>
    </div>
</div>