.carousel-card-list {
  width: 100%;
  color: white;
  font-size: 2.5rem;
  margin: 3rem 0;
}

.homepage-hot:focus {
  outline: none;
}

.carousel-card-title {
  padding-left: 8%;
  margin-top: 20px;
  text-align: left;
}

.cover-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 10% 5% 10%;
}

.cover-box > img {
  width: 30%;
  height: 88%;
  object-fit: scale-down;
}

.cover-box > img:hover {
  transform: scale(1.1);
}
