.watch-list-component {
  background-color: rgb(5, 10, 48);
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: absolute;
  text-align: center;
  padding: 3rem 8rem;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 600;
}

.no-item-found {
  margin-top: 5rem;
}

.watch-list {
  width: 100%;
  text-align: left;
}

.watch-list-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.watch-list-item {
  width: 15%;
  margin: 1rem 1rem;
}

.watch-list-item > img {
  width: 100%;
}
